.header{
	background-color: #25A9F5;
}

.header .ays-header{
	width: 50px;
	margin-top: 7px;
	margin-right: 4px;
	float: right;
}

.header .btn-options{
	margin-bottom: 10px;
	margin-top: 9px;
	margin-left: 10px;
	height: 30px;
	width: 30px;
	background-color: #CCCCCC;
}

.header > span{
	margin-top: 8px;
	position: absolute;
	left: 50%;
	color: white;
	/*font-family: "Brandon", Arial, sans-serif;*/
	font: normal 25px/1 'Righteous', cursive;
  	color: rgba(255,255,255,1);
  	text-align: center;
  	-o-text-overflow: clip;
	text-overflow: clip;
	text-shadow: rgb(128, 119, 119) 0.1em 0.1em 0.2em;
}
header[data-id=questionHeader]{

	position: relative;
	height: 49px;
}

header[data-id=questionHeader] .progress-header{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #25A9F5;
}

header[data-id=questionHeader] .araujo-logo, header[data-id=questionHeader] .counter{
	z-index: 2;
	position: relative;
	width: 60px;
	height: 48px;
}

header[data-id=questionHeader] .araujo-logo{
	float: left;
}

header[data-id=questionHeader] .question-category{
	font: normal 20px/1 'Righteous', cursive;
	text-align: center;
	z-index: 2;
	position: absolute;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	color: white;
	margin-top: 5px;
}

header[data-id=questionHeader] .counter{
	font: normal 25px/1 'Righteous', cursive;
	color: white;
	float: right;
	margin-top: 10px;
}

/*.navbar{
	background-color: #F3F3F3;
}

.navbar .btn-nav{
	height: 30px;
	width: 30px;
	border-radius: 100%
}
*/
.li-nav a{
	background: #5F5F5F !important;
	border-color: #617E9E !important;
}

.li-nav span{
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
  	margin-left: 10px;
  	border: none;
  	font: normal 25px/1 'Righteous', cursive;
  	color: rgba(255,255,255,1);
  	text-align: center;
  	-o-text-overflow: clip;
	text-overflow: clip;
	text-shadow: rgb(128, 119, 119) 0.1em 0.1em 0.2em;
  /*text-shadow: 3px 3px 0 #0199d9 , 4px 4px 0 #0199d9 , 5px 5px 0 #0199d9 , 6px 6px 0 #0199d9 , 7px 7px 0 #0199d9 , 8px 8px 0 #0199d9 , 9px 9px 0 #0199d9 , 10px 10px 0 #0199d9 , 11px 11px 0 #0199d9 , 12px 12px 0 #0199d9 , 13px 13px 0 #0199d9 , 14px 14px 0 #0199d9 , 15px 15px 0 #0199d9 , 16px 16px 0 #0199d9 , 17px 17px 0 #0199d9 , 18px 18px 0 #0199d9 , 19px 19px 0 #0199d9 , 20px 20px 0 #0199d9 ;*/
}

.li-win i{
	background-image: url("../images/icons/win.png");
	width: 24px;
	height: 24px;
}

.li-loose i{
	background-image: url("../images/icons/loose.png");
	width: 24px;
	height: 24px;
}

.li-notify i{
	background-image: url("../images/icons/userPoints.png");
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
}

.panel-list{
	border: none;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
}

.panel-list .panel-heading{
	font-style: italic;
	color: white;
	text-shadow: initial;
	font: normal 20px/1 'Righteous', cursive;
	text-align: center;
}

/*Estilos para panel del duelo actual*/
.player-item-list .player-info{
	/*float: left;*/
}

.panel-success .panel-heading{
	background-color: #1EDB16;
}

.player-item .player-info{
	width: 84px;
	position: relative;
	left: 50%;
	margin-left: -42px;

}

.player-item .player-info h5{
	font-size: 12px;
	font-style: italic;
}

.player-item .player-info .player-win{
	float: left;
}

.player-item .player-info .player-win span, .player-item .player-info .player-loose span{
	font: normal 12px/1 "Fredoka One", Helvetica, sans-serif;
	margin-left: 5px;
}

.player-item .player-info .player-win img, .player-item .player-info .player-loose img{
	width: 16px;
	height: 16px;
	margin-top:-7px
}

.player-item .player-info .player-loose{
	float: right;
}


/*Estilos para el panel de los miembros del equipo*/
.panel-primary .panel-heading{
	background-color: #0AEBFF;
}

.panel-list-list > li{
	list-style: none;
	margin-bottom: 10px;
	overflow: hidden;
}

.panel-list-list{
	margin-left: -35px;
}

.player-item-list{
	background-color: white;
	border: 1px solid #DDD;
	overflow: hidden;
	padding-bottom: 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
}

.player-item-list:hover{
	background-color: #eeeeee;
}

.player-item-list .player-img{
	text-align: center;
	margin-top: 22px;
	float: left;
	max-width: 80px;
	min-width: 40px;
	width: 60px;
	overflow: hidden;
}

.player-item-list .player-img img{
	overflow: hidden;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	border: 1px solid #DDD;
}

.player-item-list .player-info{
	float: left;
	margin-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.player-item-list .player-info h5{
	font-weight: bold;
	font-size: 12px;
	font: normal 14px/1 "Fredoka One", Helvetica, sans-serif;
	color: #333;
	margin-top: 0px;
}

.panel-list .panel-body{
	overflow-y: scroll;
	background-color: #F7F7F8;
}

.player-item-list .player-info h6{
	font-style: italic;
	color: #BBB;
	font-weight: 100;
}

.player-item-list .player-info .games-info{
	width: 200px;
	float: left;
}

.player-item-list .player-info .games-info .match-info{
	width: 95px;
	float: left;
	
}

.player-item-list .player-info .games-info .match-info span{
	font: normal 14px/1 "Fredoka One", Helvetica, sans-serif;
}

.match-info span{
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
  	margin-left: 10px;
  	border: none;
  	font: normal 20px/1 "Fredoka One", Helvetica, sans-serif;
  	color: rgba(100,100,100,1);
  	text-align: center;
  	-o-text-overflow: clip;
	text-overflow: clip;
	text-shadow: rgb(248, 239, 239) 0.1em 0.1em 0.2em;
}


/*Panel desplegable a la izquierda donde estarán las opciones de perfil y demas*/
.nav > li > a:hover{
	background-color: #5A84B6;
}
.home .menu-panel{
	background-color: #5C7491;
}

.home .menu-panel > ul > li > a{
	color: white;
}

.home .menu-panel > ul > .first-element{
	margin-top: 10px;
}

.home .menu-panel .img-user{
	margin-top: 10px;
	text-align: center;
}

.home .menu-panel .img-user img{
	width: 130px;
	height: 130px;
	background-color: white;
	overflow: hidden;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}


/*Panel de los duelos terminados*/
.panel-danger>.panel-heading{
	background-color: #D12067;
	/*color: #5F5F5F;*/
}

.player-info > .games-info-finish{
	display: inline-flex;
}

.player-info > .games-info-finish > .match-info > span{
	font: normal 14px/1 "Fredoka One", Helvetica, sans-serif !important;
}


/*Estilos del perfil del usuario*/
.perfil{
	text-align: center;
}

.perfil .add-file{
	display: none;
}

.perfil .img-user{
	width: 130px;
	height: 130px;
	margin-top: 15px;
	background-color: white;
	overflow: hidden;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	border: 1px solid #DDD;
}

.perfil .list-group{
	margin-top: 10px;
}

.perfil .list-group .list-group-item{
	font: normal 12px/1 "Fredoka One", Helvetica, sans-serif;
	color: white;
	border: none;
	background: transparent;
}

.game-container{
	text-align: center;
}

.game-container > img{
	margin-top: 15px;
	width: 250px;
}

.game-container .div-iniciar{
	margin-top: 40px;
}

.game-container .div-iniciar .btn-iniciar{
	background-image: linear-gradient(to bottom, #FFFD65 0%, #FBB23C 100%);
	color: black;
	font-weight: bold;
	width: 150px;
	height: 50px;
	font-size: 20px;
}

/*Estilos del Juego*/
.game-container .div-question{
	position: relative;
	margin-top: 20px;
	margin-bottom: 40px;
	margin-left: 20px;
	margin-right: 20px;
	min-height: 140px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: white;
	padding: 10px;
}

.game-container .div-question div[data-alert=true]{
	margin-top: 38px;
	/* Chrome y Safari */
    -webkit-transform: rotate(-13deg);
    /* Firefox */
    -moz-transform: rotate(-13deg);
    /* Opera */
    -o-transform: rotate(-13deg);
    /* IE 9 */
    -ms-transform: rotate(-13deg);
}
.div-question .alert-msg{
	font: normal 50px/1 'Righteous', cursive;
	font-weight: bold;
}

.game-container .btn-answer{
	display: block;
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 20px;
	word-wrap: break-word;
	overflow: hidden;
	white-space: normal;
}

/*Notificaciones del las preguntas*/
.question-notify{
	text-align: center;
	position: relative;
	z-index: 2;
}

.question-notify > img{
	width: 300px;
	margin-top: 40px;
}

.question-notify > div > .message-final-duel{
	font: normal 25px/1 'Righteous', cursive;
	color: white;
}

.question-notify > div{
	margin-top: 20px;
}

.question-notify > div > button{
	width: 150px;
	height: 45px;
	font: normal 20px/1 'Righteous', cursive;
}

.question-notify > div > button[data-id=btniniciar]{
	margin-left: 10px;
}

.question-notify > div > button[data-id=btnsalir]{
	margin-right: 10px;
}

.question-notify .report-question{
	margin-top: 50px;
}

.question-notify .report-question a{
	color: white;
}



/*Estilos para las posiciones de equipos*/
.panel-positions{
	margin-right: 10px;
	margin-left: 10px;
	border: none;
}

.panel-positions .panel-heading{
	background-color: #FFF97E;
	color: #000;
	font: normal 20px/1 'Righteous', cursive;
	text-align: center
}

.div-text{
	margin-left: 10px;
	margin-right: 10px;
	font: normal 20px/1 "Fredoka One", Helvetica, sans-serif;
}

.jchartfx_gauge .TitleSafe {
    font-family: Arial;
    font-size: 8pt;
    fill: #2F912F;
}

.jchartfx_gauge .TitleWarning {
    font-family: Arial;
    font-size: 8pt;
    fill: #FDB023;
}

.jchartfx_gauge .TitleDanger {
    font-family: Arial;
    font-size: 8pt;
    fill: #F43131;
}

.jchartfx_gauge .TickMajor {
    fill: #A0A0A0;
    stroke: #A0A0A0;
}

.jchartfx_gauge .TickMedium {
    fill: #A0A0A0;
    stroke: #A0A0A0;
}

.chart-container {
    background: transparent url("../images/gauge-container.png") no-repeat 50% 50%;
    text-align: center;
    margin: 0 0 30px 50px;
    background-size: 211;
	background-color: white;
	border-radius: 100%;
	text-align: center;
}

div.body-container center{
	margin-bottom: 25px;
	color: white;
	margin-top: -20px;
	font-size: 12px
}


/* Estilos para la vista de Sugerencias */
.suggestion{
	margin-left: 15px;
	margin-right: 15px;
}

.btn-send{
	font: normal 20px/1 "Fredoka One", Helvetica, sans-serif;
}

/* Estilos para Panel donde aparecen los usuarios en un duelo */
.player-item-container{
	padding-bottom: 20px;
	padding-top: 10px;
	/*width: 110px;*/
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: inline-flex;
}

.player-item-container .player-img{
	margin-top: 20px;
}

.player-item-container .player-img-opponent{
	margin-left: 15px;
}


.player-item-container .player-img img{
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	background-color: white;
	border: 1px solid #DDD;
}

.player-item-container .player-item-vs{
	margin-left: 15px;
}

.player-item-vs img{
	/*height: 100%;*/
	width: 40px;
	/*float: left;*/
	text-align: center;
	padding-top: 50px;
}

.help-container{
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.help-container .help-button{
	width: 100%;
	font: normal 25px/1 'Righteous', cursive;
}